
.card{
    background-color: #f2f2f2;
    margin-top: 50px;
}

.navigationBar{
    background-color: #ffcd00;
}

.logo{
    width: 80px;
    margin-left: 25px;
}

.cartBars{
    width: 35px;
    margin-top: 10px;
    margin-left: 20px;
    cursor: pointer;
}

.cont{
    width: 25px;
    height: 25px;
    background-color: rgb(204, 3, 3);
    color: #fff;
    border-radius: 15px;
    text-align: center;
    position: absolute;
    margin-top: 20px;
    font-size: 15px;
}

#produto{
    background-color: #fff;
    margin-bottom: 10px;
    height: 300px;
    border-radius: 3px;
    box-shadow: 1px 1px 8px 0.1em rgba(138, 138, 138, 0.226);
}

.titulo{
    border-bottom: 1px solid #f2f2f2;
}

button.addCart{
    background-color: #22b14c;
    color: #fff;
    float: right;
    height: 40px;
    margin-top: 80px;
}
.preco{
    color: #22b14c;
    margin-top: 80px;
    font-weight: bold;
}
.menor-preco{
    cursor: auto;
    border-radius: 3px 20px 8pc 40px;
    padding: 3px 0 0 3px;
    float: left; text-align: center;
    text-decoration: none;
    font: normal 16p Myriad pro, Helvetica, Arial, sans-serif;
    text-shadow: 0px 1px 0px #000;
    color: #e6e2cf;
    position: relative; text-shadow: 1px 0 0 #000;
    background: #046dc2; min-width: 181px; width: auto;
}

.conteiner-fluid{
    background-color: #dbb000;
    text-align: right;
    margin-bottom: 10px;
}
.subTotal{
    text-align: right;
    font-weight: bold;
    border-bottom: 10px;
}

.colorCart{
    background-color: #c59e00;
    border-top: 10px solid #c59e00;
    padding-left: 2em;
    margin-bottom: 2px;
    box-shadow: 1px 1px 1px 1px rgba(138, 138, 138, 0.226);
}

.deleta{
    color: black;
    font-weight: bold;
    cursor: pointer;
}